modules = ["nodejs-20", "postgresql-16"]
[nix]
channel = "stable-25_05"
packages = ["unzip", "concurrently"]

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Run App"

[[workflows.workflow]]
name = "Run App"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3000

[userenv]

[userenv.shared]
SUPABASE_URL = "https://szoqtxmuxdlnptyrgmnn.supabase.co"
SUPABASE_SERVICE_KEY = "sb_publishable_7M6-8X4F5PvQZKsPIg-t0g_5Uv70pja"
